<h1>This is the home page.</h1>
<h3>In order to access /secret, you must be logged in.</h3>

<a href="/secret">Access secret page here...</a>

<p></p>
<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>
