<h1>This is the SECRET PAGE!</h1>
<p>Being here means that you are logged in!</p>

<img src="https://farm5.staticflickr.com/4112/5170590074_714d36db83.jpg" />

<br>
<li><a href="/">Home</a></li>
<li><a href="/logout">Logout</a></li>